@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.sec-2{
  background: #8E7CB5;
}

.line{
  width: 50%; /* You can change this value to your desired width */
  color: #ffffff; /* Set the color of the hr element */
  
}

.footer{
  padding-left: 12%;
}